ErrorDocument 404 404.html
ErrorDocument 401 401.html
ErrorDocument 500 500.html
ErrorDocument 502 502.html
ErrorDocument 410 410.html
RewriteEngine On
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ http://yourwebsitename.con/expired_page $1 [R=410,L] 
