@charset "utf-8";
/* CSS Document */

@media screen {
	html, body {
		width: 100%;
		height: 100%;
		margin: auto auto auto auto;
		background-color: #9C9AFF;
		border: 0;
		text-align: center;
		overflow: hidden; /*  Disable scrollbars */
	}
}
@media print {
	size: auto;
	margin: 0mm;
}

@font-face {
    font-family: 'Hobo';
    src: url('fonts/hobo-webfont.woff') format('woff'),
		 url('fonts/hobo-webfontd41d.eot?#iefix') format('embedded-opentype'),
		 url('fonts/hobo-webfont.eot'),
         url('fonts/hobo-webfont.ttf') format('truetype'),
         url('fonts/hobo-webfont.svg#hoboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoePrint';
    src:url('fonts/segeo-print-webfont.woff') format('woff'),
		url('fonts/segeo-print-webfont.ttf') format('truetype'),
		url('fonts/segeo-print-webfont.svg#SegoePrintRegular') format('svg'),
		url('fonts/segeo-print-webfont-2.svg#SegoePrintRegular') format('svg'),
		url('fonts/segeo-print-webfont.eot');
    	font-weight: normal;
    	font-style: normal;
}
@font-face {
    font-family: 'smileyMonster';
    src:url('fonts/smileymonster.woff') format('woff'),
		url('fonts/smileymonster.ttf') format('truetype'),
        url('fonts/smileymonster.svg#Smiley-Monster') format('svg'),
        url('fonts/smileymonster.eot'),
        url('fonts/smileymonsterd41d.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}
.container {
   display: table-cell;
   vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none; 
}
.canvas-container {
   position: relative;
   margin: 0 auto;
}
#canvas {
   width: 100%;
   height: auto;
   position: relative;
   tabindex: 1;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
#inactiveBox {
   position: absolute;
   z-index: 900000;
   left: 0;
   top: 0;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.holderButton {
   position: absolute;
   z-index: 800000;
   left: 0;
   top: 0;
   touch-action: none;
   -ms-touch-action: none;
   cursor: pointer;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.hideMe {
   overflow: hidden;
   visibility: hidden;
   height: 0;
   width: 0;
}
#videoMask {
   position: absolute;
   z-index: 510;
   cursor: auto;
   tabindex: 2;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.buttonClass {
   position: absolute;
   z-index: 2;
   cursor: pointer;
   tabindex: 2;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.drawDivCanvas {
   position: absolute;
   z-index: 2;
   cursor: pointer;
   tabindex: 2;
   left:0px;
   top:0px;
   width:100%;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.page-div {
	position: relative;
	margin-bottom: 10px;
}
.keyClass {
   position: absolute;
   z-index: 800000;
   cursor: auto;
   border-radius: 5px;
   tabindex: 2;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.inputClass {
  position: absolute;
  z-index: 2;
  font-size: 42px;
  text-align: center;
  margin: 0;
  width: 50px;
  height: 50px;
  cursor: text;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
.gridCanvasClass {
   position: absolute;
   z-index: 2;
   tabindex: 2;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}
.videoClass {
   position: absolute;
   z-index: 500;
   cursor: auto;
   tabindex: 2;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
}