* {
  box-sizing: border-box;
}

body {
  padding: px;
  background: #989898;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.welcome {
  font-size: large;
}

.borderimg {
  border-image: url("/assets/imgs/border.png") 28 / 28px / 0 round;
  border-width: 28px;
  border-style: solid;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  margin-top: 15px;
  margin-left: 20px;
}

#footer {
  padding: 20px;
  text-align: center;
  background: rgb(221, 221, 221);
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@font-face {
  font-family: "opensans";
  src: url("/assets/styles/Font/opensans.woff2") format("woff2"),
    url("/assets/styles/Font/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v92/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2)
    format("woff2");
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}
.materialtext {
  font-size: 19.2px;
}
.imglink {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.img {
  height: 50px;
  width: 50px;
}
.about {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  float: right;
  margin-right: 40px;
}
.aboutext {
  font-size: x-large;
  text-align: center;
}

#aboutpg {
  background-color: white;
  width: 70%;
  height: 100%;
  border-radius: 25px;
  float: left;
}
#pgt {
  margin-left: 25px;
  margin-right: 25px;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: hsl(0, 0%, 0%);
  width: 98%;
  border-radius: 50px;
  margin-top: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: hsl(241, 85%, 18%);
}

.active {
  background-color: hsl(244, 100%, 52%);
}
