
@font-face {
    font-family: 'titillium_webextralight';
    src: url('/assets/styles/fonts/webfontkit-20221027-163353/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('/assets/styles/fonts/webfontkit-20221027-163353/titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}

    @font-face {
        font-family: 'titillium_webbold';
        src: url('/assets/styles/fonts/webfontkit-20221027-165950/titilliumweb-bold-webfont.woff2') format('woff2'),
             url('/assets/styles/fonts/webfontkit-20221027-165950/titilliumweb-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
    }